@* @model List<OnlineBookStore.Models.OrderDetail>

<h3>Orders Management</h3>
<table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">

        <tr>
            <th>ID</th>
            <th>User</th>
            <th>Book</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderID</td>
                <td>@order.BookID</td>
                <td>@order.Quantity</td>
                <td>@order.Price</td>
            </tr>
        }
    </tbody>
</table>

 *@

@model List<OnlineBookStore.Models.OrderDetail>

<h3 class="mb-4">Orders Management</h3>

<table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Order ID</th>
            <th>User</th>
            <th>Book</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OrderID</td>

                <td>
                    @item.Order?.User?.FullName
                </td>

                <td>
                    @item.Book?.Title
                </td>

                <td>@item.Quantity</td>

                <td>@item.Price.ToString("C")</td>

                <td>@(item.Price* item.Quantity)</td>
            </tr>
        }
    </tbody>
</table>
