@using Microsoft.AspNetCore.Mvc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject OnlineBookStore.Data.AppDbContext _context
@{
    var categoryList = _context.Categories.ToList();
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineBookStore</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineBookStore.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
   @*  @if ( User.IsInRole("User")){ *@
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            
            <div class="container-fluid">

                <!-- LEFT: Website Name -->
                <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">
                    OnlineBookStore
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNavbar">

                    <!-- LEFT SIDE: Categories -->
                    <ul class="navbar-nav me-auto">
                        @* @if ( User.IsInRole("User")){ *@
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle fw-bold text-white" href="#"
                                    id="categoriesDropdown" role="button" data-bs-toggle="dropdown">
                                📚 Categories
                                </a>

                                <ul class="dropdown-menu">
                                <!-- All categories option -->
                                <li>
                                    <a class="dropdown-item fw-bold"
                                       asp-controller="Books"
                                       asp-action="Index"
                                       asp-route-category="">
                                        All Categories
                                    </a>
                                </li>

                                    @foreach (var get in categoryList)
                                    {
                                        <li>
                                            <a class="dropdown-item"
                                                asp-controller="Books"
                                                asp-action="Index"
                                                asp-route-category="@get.CategoryId">
                                            @get.Name
                                            </a>
                                        </li>
                                }
                                </ul>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold text-white"
                               asp-controller="Authors"
                               asp-action="Index">
                                Authors
                            </a>
                        </li>

                       @*  } *@
                    </ul>

                    


                    <!-- RIGHT SIDE -->
                    <div class="d-flex align-items-center">

                        <!-- Search Bar -->
                        <form asp-controller="Books" asp-action="Index" method="get" class="d-flex me-3">
                            <input name="search" class="form-control me-2" type="search" placeholder="Search..." />
                            <button class="btn btn-outline-light" type="submit">Search</button>
                        </form>

                        <!-- Login / Register OR User -->
                        <ul class="navbar-nav">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a class="nav-link text-white" asp-controller="Admin" asp-action="Index">
                                             Admin Dashboard
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="nav-link text-white" asp-controller="Account" asp-action="Profile">
                                            Hello, @User.Identity.Name
                                        </a>
                                    }
                                </li>

                                <li class="nav-item">
                                    <form asp-controller="Account" asp-action="Logout" method="post">
                                        <button class="btn btn-danger btn-sm ms-2 mt-2">Logout</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-controller="Account" asp-action="Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-controller="Account" asp-action="Register">Register</a>
                                </li>
                            }

                            <!-- Cart -->
                            <li class="nav-item ms-3">
                                <a asp-controller="Cart" asp-action="Index" class="nav-link text-white fs-5">
                                    <i class="bi bi-cart"></i>
                                </a>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>

        </nav>
    </header>
   @*  } *@

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2025 - OnlineBookStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
